#meetfranz-stackoverflow-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 24px;
    width: inherit;
    z-index: 1000;
}

#meetfranz-stackoverflow-navigation > .fa {
    color: #848d95;
    cursor: pointer;
}

#meetfranz-stackoverflow-navigation > .fa:hover {
    color: #0C0D0E;
    cursor: pointer;
}
